<configuration>
  <appSettings>
    <add key="SSH_HOST" value="" />
    <add key="SSH_USER" value="root" />
    <add key="MUIP_HOST" value="http://10.0.0.2:22111/api" />
    <add key="MUIP_TARGET_REGION" value="dev_client"/>
	<add key="MUIP_SIGN" value="20a45af71e490adc44d11f174ea6c23ebb74d3ea"/>
	<add key="UID" value="137641253"/>
  </appSettings>
</configuration>